.bugs-list {
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
}

.edit-button:hover {
background-color: yellow;
}

.complete-button:hover {
background-color: green;
<<<<<<< HEAD
} 

.edit-resolve-button {
    display: flex;
}

.edit-button {
    margin-top: 0;
}

.complete-button {
    margin-top: 0;
=======
>>>>>>> 6fce6247fe8645ab9a999fdf588195ef775aef78
}